{
  "name": "betterComments",
  "label": "[[label]]",
  "description": "[[description]]",
  "group": "com.automationanywhere",
  "artifactName": "betterComments",
  "packageVersion": "0.1.1",
  "codeVersion": "",
  "author": "jamir-boop",
  "commands": ["betterComments"]
}
